<h1>Editing</h1>


<form accept-charset="UTF-8" action="/apis/<%= @filename %>" class="edit_api" id="edit_api_<%= @filename %>" method="post">
<div style="margin:0;padding:0;display:inline">
<input name="_method" type="hidden" value="put" />
</div>

  <div class="field">
    <label for="api_param1">Param1</label><br />
    <input id="api_param1" name="api[param1]" size="30" type="text" value="<%= @api["param1"] %>" />
  </div>
  <div class="field">
    <label for="api_param2">Param2</label><br />
    <input id="api_param2" name="api[param2]" size="30" type="text" value="<%= @api["param2"] %>" />
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Update Api" />
  </div>
</form>

<a href="/apis">Home</a>
