<h1>Listing</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apis.each do |api| %>
  <tr>
    <td><%= api %> show: </td>
    <td><a href="/apis/<%= api %>.json" >json</a></td>
    <td><a href="/apis/<%= api %>.xml" >xml</a></td>
    <td><%= link_to 'Edit', edit_api_path(api) %></td>
  </tr>
<% end %>
</table>
<!-- http://192.168.1.42:3000/apis/1/edit -->

